.highlight {
	background: #F8F8F8 none repeat scroll 0% 0%;
}
.highlight pre {
	margin-top: -10px;
}

@media (min-width: 768px) {
.mui-form-inline>.mui-form-control {
	width: calc(100% / 3.05);
}
}

@media (min-width: 992px) {
.mui-form-inline>.mui-form-control {
	width: calc(100% / 5.1);
}
}
